# Peer-graded Assignment: Analyzing Historical Stock/Revenue Data and Building a Dashboard

## Grading Criteria Overview
Full Points: Working code that yields correct results

You will be graded on the dashboards displaying the specified data and the screenshots you took during the final project lab questions. There are 12 possible points for this assignment. Here is the breakdown:

Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points
Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points
Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points
Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points
Question 5 - Tesla Stock and Revenue Dashboard - 2 Points
Question 6 - GameStop Stock and Revenue Dashboard- 2 Points
Question 7 - Sharing your Assignment Notebook - 2 Points

For each problem points will be awarded as follows:

Full Points: Working code that yields correct results
Partial Points: Partially correct code or results
No Points: Did not attempt the problem or did not upload any solution

## Setup

In [1]:
#!pip install yfinance
#!pip install matplotlib
#!pip install plotly
#!pip install requests
#!pip install bs4
#!pip install html5lib 
#!pip install lxml
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import warnings

# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points

In [2]:
tesla = yf.Ticker("TSLA")
tesla_yf_data = tesla.history(period="max")
tesla_yf_data.reset_index(inplace=True)
tesla_yf_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

In [11]:
tesla_ws_data = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm").text
tesla_soup = BeautifulSoup(tesla_ws_data, 'html5lib')

tesla_soup_data = []

for table in tesla_soup.find_all('table'):
    if table.find('th') and table.find('th').getText().startswith("Tesla Quarterly Revenue"):
        for row in table.find("tbody").find_all("tr"):
            col = row.find_all("td")
            if len(col) < 2:  
                continue
            Date = col[0].text.strip()
            Revenue = col[1].text.strip()
            
            tesla_soup_data.append({"Date": Date, "Revenue": Revenue})
tesla_ws_df = pd.DataFrame(tesla_soup_data)
tesla_ws_df.head()

         Date  Revenue
0  2022-09-30  $21,454
1  2022-06-30  $16,934
2  2022-03-31  $18,756
3  2021-12-31  $17,719
4  2021-09-30  $13,757

## Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [12]:
gamestop = yf.Ticker("GME")
gamestop_yf_data = gamestop.history(period="max")
gamestop_yf_data.reset_index(inplace=True)
gamestop_yf_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670625,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666417,1.666417,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662209,1.603295,1.662209,6892800,0.0,0.0

## Question 4 - Extracting GameStop Revenue Data Using Webscraping - 1 Points

In [14]:
gamestop_ws_data = requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html").text
gamestop_soup = BeautifulSoup(gamestop_ws_data, 'html5lib')

gamestop_soup_data = []

for table in gamestop_soup.find_all('table'):
    if table.find('th') and table.find('th').getText().startswith("GameStop Quarterly Revenue(Millions of US $"):
        for row in table.find("tbody").find_all("tr"):
            col = row.find_all("td")
            if len(col) < 2:  
                continue
            Date = col[0].text.strip()
            Revenue = col[1].text.strip()
            
            gamestop_soup_data.append({"Date": Date, "Revenue": Revenue})
gamestop_ws_df = pd.DataFrame(gamestop_soup_data)
gamestop_ws_df.head()

         Date Revenue
0  2020-04-30  $1,021
1  2020-01-31  $2,194
2  2019-10-31  $1,439
3  2019-07-31  $1,286
4  2019-04-30  $1,548

## Question 5 - Tesla Stock and Revenue Dashboard - 2 Points

In [29]:
tesla_revenue = tesla_ws_df
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(',', '').str.replace('$', '')
tesla_revenue["Revenue"] = pd.to_numeric(tesla_revenue["Revenue"], errors='coerce')
tesla_revenue["Date"] = pd.to_datetime(tesla_revenue["Date"], format="%Y-%m-%d")

tesla_revenue.dtypes
tesla_revenue.plot()

AttributeError: Can only use .str accessor with string values!